@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  height: 100vh;
  display: flex;
  background: url(../../assets/img/bg.jpg) no-repeat 180px center;
  background-size: 51%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #333470;

  ul {
    padding-top: 100px;
  }

  li {
    margin-bottom: 14px;
  }

  a {
    display: flex;
    color: #FFF;
    text-align: center;

    span {
        
    }

    .icon {
      font-size: 40px;
    }
  }

  a:hover {
    color: #d4217c;
  }
}

.container {
  width: 100%;
  // display: flex;
}

.content {
  padding: 100px 20px;
  // width: 100%;
}

.wrap-home {
  display: flex;

  .col-left {
    width: 60%;
  }

  .col-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .description {
      padding: 50px 0;
      font-size: 30px;
      line-height: 1.3;
      text-align: right;
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }

    button {
      display: block;
      padding: 10px 20px;
      margin-left: 20px;
      background-color: #FFF;
      background-color: #333470;
      border: none;
      border: 1px solid #333470;
      border-radius: 10px;
      font-size: 24px;
      color: #333470;
      color: #FFF;
      letter-spacing: 2px;
      transition: background-color .3s;
      cursor: pointer;
    }

    button:hover {
      background-color: #333470;
      background-color: #FFF;
      color: #FFF;
      color: #333470;
    }

    button:focus {
      outline: none;
    }


  }
}


// <a href='https://ru.freepik.com/vectors/certificate'>Certificate вектор создан(а) freepik - ru.freepik.com</a>
// <a href='https://ru.freepik.com/vectors/school'>School вектор создан(а) pch.vector - ru.freepik.com</a>
// <a href='https://ru.freepik.com/vectors/business'>Business вектор создан(а) pikisuperstar - ru.freepik.com</a>
