@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.list-word {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navigation-categories {

    .navigation-categories-title {
      margin-bottom: 0;
      font-family: 'Poiret One', cursive;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
    }

    .wrap-words-item {
        align-items: flex-end;

        p {
          font-size: 16px;
        }
    }

    .wrap-words-item > div:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    .item {
      margin-bottom: 0;
      border-radius: 20px 20px 0 0;
      position: relative;
      transform: translateY(24px);
      transition: transform .3s;

      &:hover {
        transform: translateY(20px);
      }
    }

    .item:hover p {
      letter-spacing: 2px;
    }

    .wrap-words-item > div {
      width: auto;
    }

    .ant-card-body {
      padding: 10px;
    }
  }

  h2 {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
    color:  #FFF;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
}

.wrap-list-word {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  .item {
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
    padding-bottom: 40px;
    border-radius: 20px 20px 0 20px;
    border: 1px solid #001529;
    box-shadow: 0 0 5px #001529;
    position: relative;

    p {
      margin-bottom: 5px;
    }
  }

  .word-header {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
    position: relative;

    .col-left,
    .col-right {
      width: 50%;
    }

    .col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

  .word-body {
    font-size: 20px;
  }

  .word-title,
  .word-translate,
  .word-transcription {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p.word-title {
    font-size: 24px;
    color:  #333470;
    letter-spacing: 3px;
  }

  .button-word {
    position: absolute;
    bottom: 5px;
    right: 0;
  }

  button {
    display: block;
    padding: 5px;
    margin: auto;
    // background-color: #333470;
    background-color: #001529;
    border: none;
    // border: 1px solid #333470;
    border: 1px solid #001529;
    border-radius: 10px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 2px;
    transition: background-color .3s;
    cursor: pointer;
  }

  button:hover {
    background-color: #FFF;
    // color: #333470;
    color: #000;
  }

  button:focus {
    outline: none;
  }

  .wrap-img {
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .word-meaning,
  .word-example {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid #DDD;
  }

  .word-meaning {
    padding-top: 20px;
    border-bottom: none;
  }

  .word-meaning-text,
  .word-example-text {
    width: 90%;
    font-size: 18px;
  }

  .button-sound {
    width: 10%;
    position: relative;

    button {
      position: absolute;
      right: 0;
      bottom: 5px;
    }
  }

  .buttons-vocabulary {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    // background-color: #333470;
    background-color: #001529;

    button {
      margin-right: 5px;
    }
  }
}

.ant-pagination-options-quick-jumper {
  position: relative;
  left: -50px;
  color: transparent;
}

@media screen and (max-width: 1050px) {
  .wrap-list-word {

    .item {
      width: 45%;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 30px;
    }

    p.word-title {
      font-size: 20px;
    }
  }
  .wrap-list-word .word-header .col-right {
    justify-content: flex-start;

    p {
      padding-left: 20px;
      text-align: left;
    }
  }
}


@media screen and (max-width: 950px) {
  .wrap-list-word {

    p.word-title {
      font-size: 16px;
    }
  }

  .wrap-list-word .word-header .col-right {
    p {
      font-size: 16px;
    }
  }

  .wrap-list-word .word-meaning-text,
  .wrap-list-word .word-example-text {
    width: 80%;
    font-size: 16px;
  }

  .wrap-list-word .button-sound {
    width: 20%;
  }

}

@media screen and (max-width: 750px) {
  .wrap-list-word {
    flex-direction: column;
    align-items: center;

    .item {
      width: 95%;
      margin: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
      padding-bottom: 20px;
    }

    .wrap-img {
      width: 250px;
    }
  }
}

@media screen and (max-width: 650px) {
  .wrap-list-word {
    .wrap-img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 550px) {
  .wrap-list-word {
    .wrap-img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 450px) {
  
}
