.CardDeleteTextBook {
  // background-color: rgba(195, 141, 150, 0.5);
  background-color: #DDD;

  .aboutWord {
    padding: 0 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    .group {
      margin: 0;
      padding: 0;
      width: 100px;
      text-align: center;
      border-radius: 15px;
    }
  }
}
.CardHardTextBook {
  background-color: rgba(188, 184, 224, 0.5);

  .aboutWord {
    padding: 0 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    .count {
      display: flex;
      width: 20%;
      justify-content: space-between;
      color: #fff;
      font-size: 16px;
      .successfully {
        width: 40%;
        text-align: center;
        border-radius: 15px;
        background-color: rgb(0, 87, 12);
        background-color: #001529;
      }
      .unsuccessfully {
        width: 40%;
        text-align: center;
        border-radius: 15px;
        background-color: #932a2f;
      }
    }
    .group {
      margin: 0;
      padding: 0;
      width: 100px;
      text-align: center;
      border-radius: 15px;
    }
  }
}

.CardLearnTextBook {
  background-color: rgba(150, 197, 164, 0.5);

  .aboutWord {
    padding: 0 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    .count {
      display: flex;
      width: 20%;
      justify-content: space-between;
      color: #fff;
      font-size: 16px;
      .successfully {
        width: 40%;
        text-align: center;
        border-radius: 15px;
        background-color: rgb(0, 87, 12);
        background-color: #001529;
      }
      .unsuccessfully {
        width: 40%;
        text-align: center;
        border-radius: 15px;
        background-color: #932a2f;
      }
    }
    .group {
      margin: 0;
      padding: 0;
      width: 100px;
      text-align: center;
      border-radius: 15px;
    }
  }

}

.btnGroup {
  height: 80%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button.ant-btn.ant-btn-primary.ant-btn-circle.ant-btn-lg.ant-btn-icon-only.ant-btn-dangerous {
    background-color: #932a2f;
    border-color: #932a2f;
    transition: background-color .2s;
  }

  button.ant-btn.ant-btn-primary.ant-btn-circle.ant-btn-lg.ant-btn-icon-only {
    background-color: #001529;
    border-color: #001529;
  }
}

.CardLearnTextBook,
.CardHardTextBook,
.CardDeleteTextBook {
  margin: 10px;
  padding: 5px;
  padding-left: 15px;
  height: 250px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  img {
    height: 80%;
    border-radius: 15px;
  }

  .aboutWord .ant-space-item button{
    background-color: #366b82;
    border-color: #366b82;
  }

  .aboutWord h2 {
    text-transform: uppercase;
  }

  .aboutWord p {
    font-size: 18px;
  }

  h5.ant-typography.group {
    padding: 5px 0;
    margin-bottom: 10px;
    color: #FFF;
  }
}

@media screen and (max-width: 950px) {
  .CardLearnTextBook,
  .CardHardTextBook,
  .CardDeleteTextBook {
    padding: 20px 10px;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    img {
      width: 40%;
      margin-bottom: 20px;
    }

    .aboutWord {
      width: 90%;
      margin: auto;
    }

    .btnGroup {
      position: absolute;
      top: 20px;
      right: 10px;
      height: 100px;
    }
  }
}


@media screen and (max-width: 650px) {
  .CardLearnTextBook,
  .CardHardTextBook,
  .CardDeleteTextBook {

    img {
      width: 60%;
    }
  }
}
