.AudioCall {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1711/Headphones-yellow-background_1920x1080.jpg);
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.AudioCallGame {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1711/Headphones-yellow-background_1920x1080.jpg);
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}