.site-layout-background {
  background: #fff;
}

.stat__list {
  background-color: #fafafa;
}

.chart_container {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .chart_container {
    h3 {
      text-align: center;
    }
  }
}
