.site-layout-background {
  background: #fff;
}

.stat__list {
  background-color: #fafafa;
}

.chart_container {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
  .chart_container {
    width: 290px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    h3 {
      text-align: center;
    }
  }
}
