.ant-card,
.ant-card-bordered,
.CardWord {
  width: 25%;
  margin: 10px;
  border: 4px solid;
  border-radius: 25px;
  box-sizing: border-box;
  .ant-card-actions {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .ant-card-cover {
    box-sizing: border-box;
    img {
      
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
}
