header .ant-col {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

h1.ant-typography {
  margin-bottom: 0;
  font-size: 30px;
}

.item-logo {
  display: block;
  padding: 5px;
  border-radius: 50%;
  background-color: #f4af4a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
