$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;

.settings {
  margin-top: 1rem;
    width: 100%;
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-between;
    .settings_main {
       width:50%;
       height: 100%;
       padding-left: 2rem;
       h2 {
        padding-bottom: 2rem;
       }
      }
    .settings_words {
      border-left: 2px rgba(0, 0, 0, 0.2) solid;
       width:50%;
       height: 100%;
      }

      .words_set {
        padding-right: 10px;
      }
}


.sound_switch {
    display: flex;
        p {
          padding-left: 1rem;
        }
}

 .count_words {
  display: flex;
     span {
      width:60px;
      text-align: center;
      align-self: center;
     }
 }

 .count_cards {
  display: flex;
  span {
   width:60px;
   text-align: center;
   align-self: center;
  }
 }

 button {
      padding: 0 12px;
      background-color: #1890ff;
      border: none;
      border: 1px solid #1890ff;
      border-radius: 30%;
      font-size: 24px;
      color: #FFF;
      letter-spacing: 2px;
      transition: background-color .3s;
      cursor: pointer;

      &:hover {
       background-color: #FFF;
       color: #1890ff;
     }

     &:focus {
       outline: none;
     }
 }

.settings_words {
  padding-left: 2rem;
}

.set_btns {
  display: flex;
  flex-direction: column;
      .checkbox_btns {
        display: flex;
  flex-direction: column;
          label {
            margin: 0;
          }
      }
}

.set_cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  .checkbox_btns {
    display: flex;
flex-direction: column;
      label {
        margin: 0;
      }
  }
}

@media screen and (max-width: 1050px) {
  .settings {
    padding: 20px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .settings {
    flex-direction: column;

    .settings_main,
    .settings_words {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 40px;
      border-left: none;
    }
  }
}
